<h2>Step 1: Choose your Model and color</h2>

<form
  *ngIf="vm$ | async as vm; else loading"
  [formGroup]="formStepOne"
  class="form"
>
  <div>
    <label>Model:</label>
    <select name="select" formControlName="model" id="modelSelect">
      <option [value]="null" disabled selected>Choose...</option>
      @for (carModel of vm.modelsItems; track carModel) {
      <option [value]="carModel.code">
        {{ carModel.description }}
      </option>
      }
    </select>
  </div>

  @if(formStepOne.controls.model.value !== null) {
  <div>
    <label>Color:</label>
    <select name="select" formControlName="color" id="colorSelect">
      <option [value]="null" disabled selected>Choose...</option>
      @for (color of vm.colorsItems; track color) {
      <option [value]="color.code">
        {{ color.description }}
      </option>
      }
    </select>
  </div>
  }
</form>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
