<nav class="menu">
  <ul>
    <li><a routerLink="/step1" routerLinkActive="active">Step 1</a></li>
    <li [ngClass]="{ disable: !(enableStepTwo$ | async) }">
      <a routerLink="/step2" routerLinkActive="active">Step 2</a>
    </li>
    <li [ngClass]="{ disable: !(enableStepThree$ | async) }">
      <a routerLink="/step3" routerLinkActive="active">Step 3</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>

<div *ngIf="car$ | async as car">
  <img
    class="carimage"
    *ngIf="car.carModel?.code && car.color?.code"
    src="{{ car | image }}"
    alt="Car Tesla"
  />
</div>
